<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}

<body>
  <div class="page-wrap">
    {{ content | safe }}
  </div>
  {% include "partials/toc.njk" %}
  {% include "partials/footer.njk" %}
</body>

</html>
