<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}

<body>
  <div class="page-wrap">
    {{ content | safe }}
  </div>
  {% include "partials/toc.njk" %}
  {% include "partials/footer.njk" %}
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body,{delimiters:[{left:'$',right:'$',display:false}]})"></script>
</body>

</html>
