<header>
  <div class="avatar">
    <img src="/images/avatar-transparent.png" alt="{{ resume.basics.name }}">
  </div>
  <div class="info">
    <h1>{{ resume.basics.name }}</h1>
    <h2>{{ resume.basics.label }}</h2>
  </div>
</header>
