---
layout: "layouts/base.njk"
---
{% include "partials/resume/heading.njk" %}
{% include "partials/resume/info.njk" %}
{% include "partials/resume/summary.njk" %}
{% include "partials/resume/skills.njk" %}
{% include "partials/resume/work.njk" %}
{% include "partials/resume/references.njk" %}
{% include "partials/resume/projects.njk" %}
{% include "partials/resume/volunteer.njk" %}
<div class="lang-interests-row">
{% include "partials/resume/languages.njk" %}
{% include "partials/resume/interests.njk" %}
</div>

