<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ resume.basics.name }}" />
  <meta property="og:description" content="{{ resume.basics.label }}" />
  <meta property="og:image" content="https://dev.utsob.me/images/og-image.jpg" />
  <meta property="og:url" content="https://dev.utsob.me" />
  <meta property="og:type" content="website" />
  <title>{{ resume.basics.name }} | {{ resume.basics.label }}</title>
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  {% jsonLd resume %}
</head>
