<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ resume.basics.name }} | {{ resume.basics.label }}</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
